<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raças</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if racas.__len__() == 0 %}
        <h2>Não há Raças Registradas!</h2>
        {% endif %}
        <div>
            <table border='1'>
                <h2>Tabela Raças</h2>
                <thead>
                    <th>ID</th>
                    <th>Nome</th>
                </thead>
                <tbody>
                    {% for raca in racas %}
                    <tr>
                        <td>{{raca['id']}}</td>
                        <td>{{raca['nome_raca']}}</td>
                        <td><a href="racas/editar/{{raca['id']}}">Editar</a></td>
                        <td><a href="racas/remover/{{raca['id']}}">Apagar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="racas/novo">Adicionar nova Raça</a>
        </div>
    </div>
</body>
</html>
