<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Pastos</title>
</head>
<body>
    <h2>{{title}}</h2>
    <p><a href="/">Retornar ao Índice</a></p>
    <div class="container">
        <form method="post" class="formentry">
            <div class="linha">
                <label for="nome">
                    Nome:
                    <input type="text" name="nome" value="{{pasto['nome_pasto']}}" maxlength="50" required>
                </label>
            </div>
            <div class="linha">
                <label for="tamanho">
                    Tamanho (em hectares):
                    <input type="number" name="tamanho" value="{{pasto['tamanho']}}" min="0" max="10000" step="0.01" required>
                </label>
            </div>
            <div class="linha">
                <label for="localizacao">
                    Localização:
                    <input type="text" name="localizacao" value="{{pasto['localizacao']}}" maxlength="100" required>
                </label>
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
