<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Raças</title>
</head>
<body>
    <h2>{{title}}</h2>
    <p><a href="/">Retornar ao Índice</a></p>
    <div class="container">
        <form method="post" class="formentry">
            <div class="linha">
                <label for="nome">
                    Nome:
                    <input type="text" name="nome" value="{{raca['nome_raca']}}" maxlength="60" required>
                </label>
            </div>

            <div class="linha">
                <label for="descricao">
                    Descrição:
                    <input type="text" name="descricao" value="{{raca['descricao']}}" maxlength="255" required>
                </label>
            </div>

            <div class="linha">
                <label for="proprietario">
                    Proprietário:
                    {% if proprietarios.__len__() == 0 %}
                    Não há <a href="/proprietarios">Proprietários</a> Registrados!
                    {% else %}
                    <select name="proprietario" id="proprietario" required>
                        {% for prop in proprietarios %}
                        <option value="{{prop['id']}}">{{prop['nome_proprietario']}}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                </label>
            </div>

            <div>
                {% if proprietarios.__len__() == 0 %}
                <p>Registre ao menos um Proprietário antes de registrar uma raça.</p>
                {% else %}
                <button type="submit">Enviar</button>
                {% endif %}
            </div>
        </form>
    </div>
</body>
</html>
