<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastos</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if pastos.__len__() == 0 %}
        <h2>Não há Pastos Registrados!</h2>
        {% endif %}
        <table border='1'>
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>Tamanho (ha)</th>
                <th>Tipo de Vegetação</th>
            </thead>
            <tbody>
                {% for pasto in pastos %}
                <tr>
                    <td>{{pasto['id']}}</td>
                    <td>{{pasto['nome_pasto']}}</td>
                    <td>{{pasto['tamanho']}}</td>
                    <td>{{pasto['tipo_vegetacao']}}</td>
                    <td><a href="pastos/editar/{{pasto['id']}}">Editar</a></td>
                    <td><a href="pastos/remover/{{pasto['id']}}">Apagar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="pastos/novo">Adicionar novo Registro</a>
    </div>
</body>
</html>
