<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animais</title>
</head>
<body>
    <div>
        <a href="/">Retornar ao Índice</a>
        {% if animais.__len__() == 0 %}
        <h2>Não há Animais Registrados!</h2>
        {% endif %}
        <table border='1'>
            <thead>
                <th>ID</th>
                <th>Nome</th>
            </thead>
            <tbody>
                {% for animal in animais %}
                <tr>
                    <td>{{animal['id']}}</td>
                    <td>{{animal['nome_animal']}}</td>
                    <td><a href="animais/editar/{{animal['id']}}">Editar</a></td>
                    <td><a href="animais/remover/{{animal['id']}}">Remover</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="animais/novo">Adicionar novo Registro</a>
    </div>
</body>
</html>
